torch==2.2.1
torch-model-archiver==0.11.1
torch-workflow-archiver==0.2.14
torchserve==0.11.1
nvgpu==0.10.0
transformers==4.44.2
accelerate==0.28.0
protobuf==6.32.0
grpcio==1.74
grpcio-tools==1.74
fastapi==0.116.0
uvicorn==0.35.0
pydantic==2.11.7
Jinja2==3.1.6
numpy==1.26.4
pandas==2.3.1
openpyxl==3.1.5
scikit-learn==1.4.2
matplotlib==3.7.1
deepspeed==0.14.1
wandb==0.20.0
tensorboard==2.20.0
requests==2.32.4
httpx==0.28.1
captum==0.7.0
tqdm==4.66.5
tree-sitter==0.26.0
tree-sitter-c==0.24.2
